{{ script(['js/vendor.js', 'js/global.js'])}}
{{ css('css/vendor.css') }}

<aside class="sidebar visible-lg"><!--右侧>992px显示-->
    <div class="sentence"> <strong>每日一句</strong>
        {{ render(controller('AppBundle:Default:noticeToDoList'))}}
        {{ render(controller('AppBundle:Default:dailyOne')) }}
    </div>
    <div class="top-box">
        {{ render(controller('AppBundle:Default:listTopKnowledges')) }}
        {{ render(controller('AppBundle:Default:listTopTopics')) }}
        {{ render(controller('AppBundle:Default:listTopUsers')) }}
    </div>
</aside>
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/toplist/toplist.js') }}"></script>
{% endblock %}