<div class="news-list">
  <div class="news-info col-xs-12 col-sm-12 col-md-11">
    <dl>
      <dd>
        <h3 class="box-title"><a href="{{path('user_page',{userId:user.id})}}">{{ user.username }}</a>{% if myFollow.newKnowledgeNum is defined and myFollow.newKnowledgeNum  %}<span class="badge">{{ myFollow.newKnowledgeNum }}</span> {% endif %}</h3>
      </dd>
    </dl>
    <div class="news_bot col-sm-7 col-md-8">
      <span class="look">
        <a class="pull-right" id="follow-btn" data-url="{{path('user_follow',{id:user.id})}}"{% if user.hasFollow is defined and user.hasFollow == true %}style="display:none"{% endif %}><i class="fa fa-fw fa-heart-o"></i></a>
        <a class="pull-right" id="unfollow-btn" data-url="{{path('user_unfollow',{id:user.id})}}"{% if user.hasFollow is defined and user.hasFollow == false %}style="display:none"{% endif %}><i class="fa fa-fw fa-heart"></i></a>
      </span>
    </div>
  </div>
</div>